<div class="container">
  <div class="d-flex justify-content-between">
    <h1>Details</h1>
    
      <a routerLink="/sladd" class="btn btn-success mt-2 mb-2">Create</a>
    
  </div>
  <div class="container table-responsive">
    <table class="table table-bordered shadow">
      <thead class="table-dark">
        <tr>
          <th>Employee Name</th>
          <th>Designation</th>
          <th>Department</th>
          <th>Date Of Join</th>
          <th>Basic Pay</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="table-secondary align-items-center">
        <tr *ngFor="let user of allUsers">
          <td>{{user.empname}}</td>
          <td>{{user.desg}}</td>
          <td>{{user.dept}}</td>
          <td>{{user.doj}}</td>
          <td>{{user.bp}} /-</td>
          <td>
            <a routerLink="view/{{user._id}}" class="btn btn-success me-2 mt-2">View</a>
            <a routerLink="edit/{{user._id}}" class="btn btn-warning me-2 mt-2">Edit</a>
            <a class="btn btn-danger mt-2" (click)="onDeleteUser(user._id)">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>