<div class="container text-center mt-5">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam velit libero non illum quisquam labore sint enim
    accusamus error, neque maiores ipsa, corrupti expedita quibusdam deserunt, aliquam adipisci molestiae vitae.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt a eligendi tenetur commodi illo odit, expedita
    error vitae aspernatur atque nisi magni minima obcaecati sint cupiditate sapiente perferendis iure sunt.
    <div class="row mt-5">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="text-center ">

                <a routerLink="/sladd" class="btn btn-success me-3">Create Salary Slip</a>
                <a routerLink="/sltable" class=" btn btn-primary ">View</a>

            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>